/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";
@font-face {
  font-family: "Lato-Regular";
   src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato-bold";
   src: url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Lato-bold"}

html, body { height: 100%; }
body { margin: 0; font-family: "Lato-bold"; }
h1{
  font-weight: 800;
}
